<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/category">Posts</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create Posts</li>
    </ol>
</nav>

<div class="row auth-page">
    <div class="col-md-12 col-xl-10 mx-auto">
        <div class="card">
            <div class="row">
                <div class="col-md-4 pe-md-0">
                    <div class="auth-side-wrapper"
                        [ngStyle]="{ 'background-image': 'url(https://via.placeholder.com/219x452)' }">

                    </div>
                </div>
                <div class="col-md-8 ps-md-0">
                    <div class="auth-form-wrapper px-4 py-5">
                        <h6 class="card-title">Post Form</h6>
                        <h5 class="text-muted fw-normal mb-4">Hello! create post information here</h5>

                        <form class="forms-sample" [formGroup]="createForm" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="exampleInputUsername1" class="form-label">Post Title</label>
                                <input type="text" class="form-control" id="exampleInputUsername1"
                                    formControlName="title" autocomplete="off" placeholder="Post Title">
                            </div>
                            <!-- <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Content</label>
                                <textarea type="email" class="form-control" id="exampleInputEmail1"
                                    formControlName="content" placeholder="Content" value="Description">
                                </textarea>
                            </div> -->
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Content</label>
                                <quill-editor [(ngModel)]="htmlText" placeholder="Enter Text" [modules]="quillConfig"
                                    (onSelectionChanged)="onSelectionChanged($event)"
                                    (onContentChanged)="onContentChanged($event)" formControlName="content">
                                </quill-editor>

                                <!-- <div class="mt-3">
                                    <pre class="mb-0">{{htmlText}}</pre>
                                </div> -->
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlSelect1" class="form-label">Category</label>
                                <ng-select [items]="categories" bindLabel="name" bindValue="id"
                                    placeholder="type to search" [(ngModel)]="selectedSearchPostId"
                                    formControlName="category">
                                </ng-select>
                                <p class="mt-2 text-muted">Selected item: <span
                                        class="fw-bolder">{{selectedSearchPostId}}</span></p>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="formFile">Post Image</label>
                                <input class="form-control" type="file" id="formFile" (change)="checkAndUpload($event)"
                                    accept=".png, .jpg, .jpeg" formControlName="file">
                            </div>
                            <div class="form-check mb-3">
                                <input type="checkbox" class="form-check-input" id="authCheck" formControlName="status">
                                <label class="form-check-label" for="authCheck">
                                    Publish
                                </label>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary me-2" [disabled]="createForm.invalid"
                                    (click)="submit()">Submit
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                                        id="spinner" style="visibility: hidden"></span>
                                </button>
                                <button class="btn btn-secondary" routerLink="/post">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>